@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

a {
    color: #7a7a7a;
    text-decoration: none;
}

body {
    background: #f8f8f8;
}

.container {
    /* border: 1px solid red; */
    margin: auto 2%;
}

.flex-div {
    display: flex;
    align-items: center;
}

nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: .8rem 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fff;
}

nav .container {
    justify-content: space-between;
}

/* .nav-right */
.nav-left {}

.menu {
    width: 25px;
    margin-right: 1rem;
    cursor: pointer;
}

.logo {
    width: 120px;
}

.user-img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    margin-right: 0 !important;
}

.top-images img {
    width: 24px;
    margin-right: 1rem;
    cursor: pointer;
}

.search-container {
    border: 1px solid #949191;
    border-radius: 18px;
    padding: .5rem .8rem;
    width: 400px;
    justify-content: space-between;
}

.search-container img {
    width: 16px;
    margin-left: .6rem;
    cursor: pointer;
}

.search-container input {
    border: none;
    outline: none;
    background: transparent;
    /* width: 400px; */
    width: 100%;
}

.mic-icon {
    width: 16px;
    margin-left: .8rem;
    cursor: pointer;
}

/* maain part */
.main {
    display: flex;
    /* margin-top: 20px; */
    transition: .5s;
}

.main-left {
    height: calc(100vh - 76px);
    position: sticky;
    top: 76px;
    left: 2%;
    width: 20%;
    overflow: auto;
    padding-bottom: 1rem;
    transition: .3s;
    padding-top: 10px;
}

.main-left::-webkit-scrollbar {
    display: none;
}



.shortcut-links,
.subscribed-links {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.shortcut-links a,
.subscribed-links a {
    display: flex;
    align-items: center;

}

.shortcut-links a img,
.subscribed-links a img {
    width: 24px;
}

.subscribed-links a img {
    border-radius: 50%;
    width: 30px;
}

.shortcut-links a span,
.subscribed-links a span {
    display: inline-block;
    font-size: .94rem;
    text-transform: capitalize;
    margin-left: .9rem;
    color: #333;
}

.subscribed h3 {
    font-size: .79rem;
    color: #777;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.main-left hr {
    border: none;
    background: #0000007c;
    height: 1px;
    width: 85%;
    margin: 1rem 0;
}


.main-right {
    width: 100%;
    /* margin-left: 2%; */
    margin-top: 10px;
}



.vid-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .9rem;
}

.thumb {
    width: 100%;
    border-radius: 6px;
}

.thumb-info-container {
    align-items: flex-start;
    gap: .8rem;
    padding: .5rem 0;
}

.thumb-info {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.channel-img {
    width: 35px !important;
    border-radius: 50%;
}


.thumb-title {
    font-size: .9rem;
    font-weight: 600;
    color: rgb(40, 44, 40);
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: wrap;
    height: 45px;
    width: 100%;
    overflow: hidden;
}

.thumb-info span {
    font-size: .88rem;
    color: #866;
}

@media screen and (min-width: 901px) {
    .main-left.show-left {
        width: 5%;
    }

    .main-left.show-left .shortcut-links a span,
    .main-left.show-left .subscribed-links a span {
        display: none
    }

    .main-left.show-left .subscribed h3 {
        display: none;
    }

    .main-left.show-left hr {
        width: 50%;
    }

    .main-right.show-left {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    .main-left {
        position: fixed;
        left: -50%;
        width: 25%;
        background: #fffbfb;
        overflow: auto;
        top: 65px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        padding-left: 1rem;
        height: calc(100vh - 65px);
    }

    .main-left.show-left {
        left: 0%;
    }



    .search-container {
        width: 290px;
    }
}

@media screen and (max-width: 710px) {
    .main-left {
        width: 200px;
        background: #fffbfb;

    }

    .search-container {
        width: 180px;
    }

    .mic-icon {
        display: none;
    }

    .top-images img {
        display: none;
    }

    .user-img {
        display: block !important;
    }
}

@media screen and (max-width: 540px) {

    .search-container {
        display: none;
    }

    nav {
        padding: .5rem 0;
    }

    .main-left {
        top: 55px;
        height: calc(100vh - 55px);
    }
}

/* ============================================= */
/* play video page */

.play-video {
    margin-top: 10px;
    display: flex;
    gap: 1rem;
}

.video-main {
    flex-basis: 69%;
}

.video-sidebar {
    flex-basis: 27%;
}

.video-main video {
    width: 100%;
}

.small-thumbnail {
    display: flex;
    margin-bottom: 1rem;
    gap: .7rem;
    align-items: start;
}

.small-thumbnail img {
    flex-basis: 49%;
    width: 20%;
    border-radius: 6px;
}

.small-vid-info {
    flex-basis: 49%;
}

.small-vid-info h3 {
    color: #333;
    font-weight: 700;
    font-size: .88rem;
    margin-bottom: .3rem;
}

.small-vid-info span {
    display: block;
    color: #727272;
    font-weight: 500;
    font-size: .84rem;
}

.tags a {
    color: rgb(23, 58, 214);
    font-size: .88rem;

}

.vid-title {
    color: #3f3f3f;
    margin-top: .4rem;
}

.vid-info {
    display: flex;
    justify-content: space-between;
    margin-top: .7rem;
    font-size: .95rem;
}

.vid-info span {
    /* flex: 1; */
    color: #727272;

}

.vid-reactions {
    flex: 1;
    text-align: right;
}

.vid-reactions img {
    width: 20px;
}

.vid-reactions a {
    display: inline-flex;
    align-items: center;
    gap: .2rem;
    margin-left: 1rem;
}

.video-main hr {
    border: 0;
    height: 1px;
    background: #d4cbcb;
}

.publisher-info {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 1rem;
}

.publisher-left {
    display: flex;
    align-items: start;
    gap: 1rem;
}

.publisher-img {
    width: 40px;
    border-radius: 50%;
}

.publisher-left h2 {
    color: #4b4949;
    font-size: 1.17rem;
}

.publisher-left span {
    color: #545353;
    font-size: .9rem;
    margin-top: -2px;
    display: block;
}

.publisher-info button {
    background: #a70404;
    color: #fff;
    border: none;
    outline: none;
    padding: .45rem 1.6rem;
    font-size: .9rem;
    font-family: inherit;
    border-radius: 4px;
    cursor: pointer;
}

.desc {
    margin-top: 1rem;
    color: #6e6d6d;
    font-size: .92rem;
    font-weight: 500;
}

.margin-left {
    margin-left: 50px;
}

.small-hr {
    margin: 1rem 0;
}

.cmnt-count {
    font-weight: 600;
    font-size: .9rem;
}

.write-cmnt {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: start;
}

.write-cmnt img {
    width: 40px;
    border-radius: 50%;
}

.write-cmnt input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #a8a3a3;
    background: transparent;
    font-family: inherit;
    padding: .5rem 0;
}

.comment {
    display: flex;
    gap: 1rem;
    align-items: start;
    margin-bottom: 1.5rem;
}

.comment img {
    width: 40px;
    border-radius: 50%;
}

.comment h3 {
    font-size: .95rem;
    color: #444;
}

.comment h3 span {
    font-size: .8rem;
    margin-left: .6rem;
    font-weight: 400;
    color: #444;
}

.comment-txt {
    font-size: .93rem;
    margin: .3rem 0;
    color: #444;
}

.cmnt-reactions img {
    width: 18px;
}

.cmnt-reactions {
    display: flex;
    gap: 1rem;
}

.cmnt-reactions a {
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: .88rem;
    font-weight: 500;
}

.cmnt-reactions a:last-child {
    color: rgb(0, 21, 255) !important;
}

@media screen and (max-width: 1200px) {
    .video-main {
        flex-basis: 60%;
    }

    .video-sidebar {
        flex-basis: 37%;
    }
}

@media screen and (max-width: 900px) {

    .menu-vid {
        display: none;
    }

    /* .video-main {
        flex-basis: 60%;
    }

    .video-sidebar {
        flex-basis: 37%;
    } */
    .play-video {
        flex-direction: column;
    }
}

@media screen and (max-width: 660px) {
    .vid-info {
        /* font-size: .8rem; */
        flex-direction: column;
        gap: .7rem;
    }

    .vid-reactions a {
        gap: .1rem;
        margin-left: .4rem;
    }

    .vid-reactions a:first-child {
        margin-left: 0rem;
    }

    .vid-reactions {
        text-align: left;

    }

    .margin-left {
        margin-left: 0px;
    }


}